@font-face {
    font-family: "Ao Bold";
    src: url("/fonts/AoOz-Bold.woff") format('woff');
}

.site-header {
    padding-top: 1px;
    padding-left: 20px;
    padding-bottom: 5px;
    color: #85be2f;
}

h1 {
    font-family: "Ao Bold";
}

.syntaxhighlighter {
    padding: 10px !important;   
}

.login-form {
    padding-top: 15px;
}

#countdown {
  text-align: center;
  color: #e60000;
  font-family: 'Press Start 2P', cursive;
}

body {
  background-color: black;
}